* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.74), rgb(5, 5, 5)), url('../img/a3.webp');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
}

.intro {
    text-align: center;
    margin-bottom: 100px;
    /* padding-left: 20px; */
    /* border-left: 8px solid rgba(255, 255, 255, 0.514); */
}

.outro {
    opacity: 1;
    margin-top: 50px;
    text-align: center;
    /* padding-left: 20px; */
    /* border-left: 8px solid rgba(255, 255, 255, 0.514); */
}

.myName {
    margin-bottom: 40px;
    padding-left: 15px;
    border-left: 8px solid rgba(58, 238, 3, 0.514);
    margin-left: 50px;
    margin-right: 50px;
}

.m_b {
    /* padding-top: 40px; */
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

#m_b_i {
    opacity: 1;
}

.desc {
    color: white;
    font-size: 18px;
}

.firstSec {
    overflow-wrap: break-word;

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
}

@media (max-width: 600px) {

    .firstSec {
        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 100px;
        margin-bottom: 50px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

}

#travel_locations {
    opacity: 1;
}

#personal_pic{
    border-radius: 50%;
}
