html,
body{
    margin:0;
    padding:0;
}
*{
    margin: 0;
    padding:0;
}

.container{
    margin-top:5vh;
    margin-bottom:2.3vh;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bar{
    background-color: rgb(10, 157, 255);
    border: 2px solid black;
    width: 20px;
    height: 80vh;
}
#s_tech{
    transition-duration: 500ms;
}
#n_c{
    transition-duration: 1s;
}