* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url("../img/main.jpg"); */
    background: radial-gradient(rgba(0, 0, 0, 0.76), rgba(5, 5, 5, 0.829)), url('../img/main_b.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
}

.myStyle {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.808);
}

.intro {
    text-align: center;
    margin-bottom: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* padding-left: 20px; */
    /* border-left: 8px solid rgba(255, 255, 255, 0.514); */
}

.blogs {
    /* padding-top: 40px; */
    padding-left: 50px;
    padding-right: 50px;
}

.blog {
    margin-top: 80px;
    padding: 40px;
    transition-duration: 1s;
    cursor: pointer;
}

.blog:hover {
    background-color: rgba(0, 223, 252, 0.219);
    transition-duration: 1s;
    border-radius: 10px;
}

.b_head {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-weight: 500;
    color: white;
}

.b_body {
    letter-spacing: 5px;
    word-spacing: 10px;
    padding-left: 30px;
    border-left: 8px solid rgba(255, 255, 255, 0.514);
    margin-top: 30px;
    color: white;
}

.firstSec {
    margin-left: 10vw;
    margin-right: 10vw;
    /* margin-left: 2vw;
    margin-right: 2vw; */
    margin-top: 150px;
    margin-bottom: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
}