body {
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif, -apple-system, system-ui;
  background: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('/main_b.webp');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content{
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container a {
  color: #71e3ff;
  transition: color 1s, text-shadow 0.5s;
}

.container a:hover {
  color: #b6fdff;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}