.slider-container {
	display: flex;
	justify-content: center;
}

tp-slider {
	margin-bottom: 30px;
	width: 100%;
}

@media screen and (min-width: 1500px) {
	tp-slider {
		width: 80%;
	}
}

tp-slider-nav {
	justify-content: center;
	display: flex;
	gap: 10px;
	width: 100%;
	margin-top: 10px;
}

tp-slider-nav-item::before {
	height: 10px;
	width: 10px;
	color: #ffffff80;
	content: "\2B24";
}

tp-slider-nav-item[current="yes"]::before {
	color: #ffffff;
}

tp-slider-arrow button svg {
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
	transition: background-color 0.2s;
	border-radius: 50%;
}

tp-slider-arrow button svg:hover {
	background-color: #ffffff;
}

tp-slider-track {
	position: relative;
}

tp-slider-arrow {
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translate(0, -50%);
}

tp-slider-arrow[direction="previous"] {
	left: 10px;
}

tp-slider-arrow[direction="next"] {
	right: 10px;
}

tp-slider-slide {
	position: relative;
}

tp-slider-slide .caption {
	width: 100%;
	text-align: center;
	font-weight: 900;
	color: white;
	padding: 10px 0 0 0;
}